{% extends "base.html" %}
{% block side_menu %}
<!-- Collect the nav links, forms, and other content for toggling -->
    <!-- Navigation -->
            <!-- Blog Sidebar Widgets Column -->
                <!-- Blog Categories Well -->
                <div class="well">
                    <h4>control</h4>
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                        <li><a href="{{ url_for('statistics') }}">Статистика</a></li>
                        <li><a href="{{ url_for('allow_to_test') }}">Дать разрешение</a></li>
                        <li><a href="{{ url_for('test_passing') }}">Тестируемые</a></li>
                        <li><a href="{{ url_for('test_allowed') }}">Допущенные</a></li>
                        <li><a href="{{ url_for('group_list') }}">Список групп</a></li>
                        <li><a href="{{ url_for('group_new') }}">Добавить группу</a></li>
                        <li><a href="{{ url_for('test_list') }}">Список тестов</a></li>
                        <li><a href="{{ url_for('test_new') }}">Добавить тест</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.row -->
                </div>            <!-- Collect the nav links, forms, and other content for toggling -->
        <!-- /.container -->
{% endblock %}
