{% extends "admin.html" %}
{% block userscripts %}  {% endblock %}
{% block menu %} {% endblock %}

{% block content %}
    <h3>Добавление новой группы</h3>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }} </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <form action=""  method="post" name="login">
        {{ form.hidden_tag() }}
        <p>Введите наименование специальности: {{ form.speciality(size=80) }}
            {% for error in form.errors.speciality %}
            <span style="color: red;">{{error}}</span>
            {% endfor %}<br>
        </p>
        <p>Введите наименование группы: {{ form.name(size=10) }}
            {% for error in form.errors.name %}
            <span style="color: red;">{{error}}</span>
            {% endfor %}<br>
        </p>
        <p>Введите год начала обучения: {{ form.start_year(size=4) }}
            {% for error in form.errors.start_year %}
            <span style="color: red;">{{error}}</span>
            {% endfor %}<br>
        </p>
        <p>Список группы:
            {% for error in form.errors.students_list %}
            <span style="color: red;">{{error}}</span>
            {% endfor %}<br>
        </p>
        <p>{{ form.students_list(rows='20',cols='80') }}</p>
        <p><input type="submit" value="Войти"></p>
    </form>
{% endblock %}