{% extends "admin.html" %}
{% block userscripts %}  {% endblock %}
{% block menu %} {% endblock %}

{% block content %}
    <h3>Редактирование студента</h3>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }} </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <form action=""  method="post" name="login">
        {{ form.hidden_tag() }}
        <p>Выберите тест: {{ form.assessment() }}
            {% for error in form.errors.assessment %}
            <span style="color: red;">{{error}}</span>
            {% endfor %}<br>
        </p>
        <p>Выберите студентов: {{ form.students() }}
            {% for error in form.errors.students %}
            <span style="color: red;">{{error}}</span>
            {% endfor %}<br>
        </p>
        <p><input type="submit" value="Разрешить тест" onclick = "this.style.visibility='hidden'"></p>
    </form>
{% endblock %}