{% extends "admin.html" %}
{% block userscripts %}  {% endblock %}
{% block menu %} {% endblock %}

{% block content %}
    <h3>Список тестов</h3>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }} </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <table width="100%">
        {% for test_uid in test_keys %}
        <tr>
            <td>{{ tests[test_uid].name }}</td>
            <td><a href="">Удалить</a> </td>
        </tr>
        {% endfor %}
    </table>


{% endblock %}