{% extends "base.html" %}
{% block userscripts %}  {% endblock %}
{% block menu %} {% endblock %}

{% block content %}
    <h3>Список {{ group }}</h3>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }} </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <table width="100%">
        {% for student_uid in group.students %}
        <tr>
            <td>{{ group.students[student_uid] }}</td>
            <td><a href="{{ url_for('student_edit', group_uid=group_uid, student_uid=student_uid) }}">Редактировать</a> </td>
            <td><a href="">Удалить</a> </td>
        </tr>
        {% endfor %}
    </table>


{% endblock %}