{% extends "base.html" %}
{% block content_title %}Система тестирования{% endblock %}
{% block content %}
Добро пожаловать в систему тестирования!<BR>
<CENTER>
<H3>Прочтите внимательно!</H3>
Внимание!
При ответе на вопросы обратите внимание на следующее:<BR>
</CENTER>
1. Вариант ответа считается помеченным как правильный, если в
квадратике рядом с ним стоит галочка.<BR>

2. Для перехода к следующему вопросу хотя бы один ответ должен
быть помечен как правильный.<BR>
3. В некоторых вопросах несколько вариантов ответов могут
оказаться правильными одновременно (в том числе и ВСЕ варианты
ответов) - необходимо пометить все правильные с вашей точки
зрения варианты ответов.<BR>
4. Время, даваемое вам для решения теста, ограничено. Оставшееся
время указывается в левой части окна.<BR>
Вы можете<BR>
<a href="{{url_for('test_start')}}">Начать тестирование</a><br />
Желаем успехов!
{% endblock content %}
{% block side_menu %}
{% endblock side_menu %}
