{% extends "base.html" %}
{% block userscripts %}  {% endblock %}
{% block menu %} {% endblock %}

{% block content %}
    <h1>Пожалуйста, войдите под своей учетной записью</h1>
    <form action=""  method="post" name="login">
        {{ form.hidden_tag() }}
        <p>Введите OpenId: {{ form.openid(size=80) }}
            {% for error in form.errors.openid %}
            <span style="color: red">{{ error }}</span>
            {% endfor %}
        </p>
        <p>{{ form.remember_me }} Запомнить меня на этом сайте</p>
        <p><input type="submit" value="Войти"></p>
    </form>
{% endblock %}