{% extends "admin.html" %}
{% block userscripts %}  {% endblock %}
{% block menu %} {% endblock %}

{% block content %}
    <h3>Результаты тестирования</h3>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }} </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <table width="100%">
        {% for assessment in passed %}
        <tr>
            <td>{{ passed[assessment].student.__repr__() }}</td>
            <td>{{ 'Балл {:.2f} ({:.2f}% правильных ответов)'.format(passed[assessment].real_score, passed[assessment].score) }}</td>
            <td>
                {% for cur_task in passed[assessment].mistaken_tasks %}
                    {{ cur_task.stem }}
                    <br /><br />
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </table>


{% endblock %}