{% extends "base.html" %}
{% block userscripts %}  {% endblock %}
{% block menu %} {% endblock %}

{% block content %}
    <h3>Редактирование студента</h3>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }} </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <form action=""  method="post" name="login">
        {{ form.hidden_tag() }}
        <p>Имя: {{ form.first_name(size=40) }}
            {% for error in form.errors.speciality %}
            <span style="color: red;">{{error}}</span>
            {% endfor %}<br>
        </p>
        <p>Отчество: {{ form.sur_name(size=40) }}
            {% for error in form.errors.name %}
            <span style="color: red;">{{error}}</span>
            {% endfor %}<br>
        </p>
        <p>Фамилия: {{ form.last_name(size=40) }}
            {% for error in form.errors.start_year %}
            <span style="color: red;">{{error}}</span>
            {% endfor %}<br>
        </p>
        <p><input type="submit" value="Сохранить"></p>
    </form>
{% endblock %}