{% extends "base.html" %}
{% block userscripts %}  {% endblock %}
{% block menu %} {% endblock %}

{% block content %}
<CENTER>
<H3>Прочтите внимательно!</H3>
Внимание!
При ответе на вопросы обратите внимание на следующее:<BR>
</CENTER>
1. Вариант ответа считается помеченным как правильный, если в
квадратике рядом с ним стоит галочка.<BR>
2. В некоторых вопросах несколько вариантов ответов могут
оказаться правильными одновременно (в том числе и ВСЕ варианты
ответов) - необходимо пометить все правильные с вашей точки
зрения варианты ответов.<BR>
3. Время, даваемое вам для решения теста, ограничено. Оставшееся
время указывается в левой части окна.<BR>
Вы можете начать тестирование.<br />
Желаем успехов!<br />

<h4>Список допущенных к тесту:</h4>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }} </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <table width="100%">
        {% for cur_passing in list %}
        <tr>
            <td><a href="{{ url_for('test_pass', assessment_uuid=cur_passing[0])}}">{{ cur_passing[1].student.__repr__() }}({{ cur_passing[1].name }})</a></td>
        </tr>
        {% endfor %}
    </table>


{% endblock %}