{% extends "base.html" %}
{% block userscripts %}  {% endblock %}
{% block side_menu %}
                <div class="well">
                    <h4>тестируется:</h4>
                    <div class="row">
                        <div class="col-lg-6">
                            {{ assessment.student.__repr__() }}
                        </div>
                    </div>
                    <!-- /.row -->
                </div>            <!-- Collect the nav links, forms, and other content for toggling -->
        <!-- /.container -->
                <div class="well">
                    <h4>осталось:</h4>
                    <div class="row">
                        <div class="col-lg-6">
                            <div id="clock" style="color: #0071D0; font-weight: bold; font-size: 20px;"></div>
                        </div>
                    </div>
                    <!-- /.row -->
                </div>            <!-- Collect the nav links, forms, and other content for toggling -->
        <!-- /.container -->
{% endblock %}

{% block content %}
    <h3>Тест</h3>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }} </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <form action="{{ url_for('test_pass', assessment_uuid=assessment_uid) }}"  method="post" name="login">
        {% for cur_task in assessment.tasks %}
            <table width="80%" cellpadding="1%" border="1" bgcolor="grey" cellspacing="5">
                <tr>
                    <td colspan="2">
                        {{ cur_task['stem'] }}
                        {% if cur_task['picture'] %}
                            <br /><img src="{{ 'data:image/png;base64, {picture_code}'.format(picture_code=cur_task['picture']) }}">
                        {% endif %}
                    </td>
                </tr>
                {% for cur_option in cur_task['options'] %}
                    <tr>
                        <td width="20%">&nbsp;</td>
                        <td>
                            <p><input type="checkbox" name="{{ cur_option['uuid'] }}">{{ cur_option['text'] }}</p>
                            {% if cur_option['picture'] %}
                                <br /><img src="{{ 'data:image/png;base64, {picture_code}'.format(picture_code=cur_option['picture']) }}">
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <br />
        {% endfor %}

        <p><input type="submit" value="Ответить" onclick = "this.style.visibility='hidden'" id="send"></p>
    </form>
    <script>
        window.onload = function(){
	        var remain = {{ assessment.time_limit }}
	        window.setInterval(function(){
		    var clock = document.getElementById("clock");
		    clock.innerHTML = Math.floor(remain/60) + ":" + remain%60;
		    remain--;
		    if(remain <= 0) document.getElementById("send").click();
	        }, 1000);
};
    </script>
{% endblock %}