{% extends "base.html" %}
{% block content_title %}Система тестирования{% endblock %}
{% block content %}
{% endblock content %}
{% block side_menu %}

                <!-- Blog Categories Well -->
                <div class="well">
                    <div class="row">
                        <div class="col-lg-6">
                            Выберите себя из списка
                        </div>
                    </div>
                    <!-- /.row -->
                </div>

{% endblock side_menu %}
