{% extends "admin.html" %}
{% block userscripts %}  {% endblock %}
{% block menu %} {% endblock %}

{% block content %}
<h3>Список допущенных к тесту:</h3>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }} </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <table width="100%">
        {% for allowed in list %}
        <tr>
            <td>{{ allowed[1].student.__repr__() }}({{ allowed[1].name }}) <a href="{{ url_for('allowed_delete', assessment_uuid=allowed[0])}}">Удалить</a></td>
        </tr>
        {% endfor %}
    </table>


{% endblock %}