{% extends "admin.html" %}
{% block userscripts %}  {% endblock %}
{% block menu %} {% endblock %}

{% block content %}
    <h3>Список тестирующихся</h3>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }} </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <table width="100%">
        {% for cur_passing in passing %}
        <tr>
            <td>{{ passing[cur_passing].student.__repr__() }}</td>
            <td>{{ passing[cur_passing].started }}</td>
        </tr>
        {% endfor %}
    </table>


{% endblock %}